body {
    background: linear-gradient(45deg, rgba(102,153,204,0.3) 0%,rgba(0,0,0,.1) 33%, rgba(0,0,0,.1) 66%,rgba(102,153,204,0.3) 100%) !important;
}
div.wrap,
article.main,
#atlas {
  width: 100% !important;
  height: 100% !important;
}
article.main { padding: 0 !important;}
#atlas {
  margin: 0 auto;
  position: relative;
}
section.banner.angle-white { display:none !important;}
/*#panel {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -150px;
  z-index: 5;
  background-color: #fff;
  opacity: .9;
  padding: 5px;
  border: 1px solid #999;
}*/
/*#message {
  opacity: 0.99;
  position:absolute;
  top:100%;
  border: 1px solid #eee;
  background-color: #fff;
  padding: 1em 0 1em 0;
  text-align: center;
  margin:0;
  z-index: 1;
}*/


#atlas #treaties {
  border: 1px solid #ccc;
  background-color: #eee;
  /*z-index: 1;*/
  position: absolute;
  padding-right: 0.5em;
  top: 1em;
  left: 1em;
  opacity: 0.8;
  font-size:14pt;
}

#atlas #description {
  border: 1px solid #ccc;
  background-color: #eee;
  /*z-index: 1;*/
  position: absolute;
  padding: 0.5em;
  bottom: -2em;
  left: 1em;
  opacity: 0.8;
  font-size:14pt;
}

#atlas #treaties ul { list-style: none !important; list-style-image: none !important; margin-left: 1em;padding:0;}
#atlas #treaties ul li { list-style: none !important; list-style-image: none !important; margin-left: 1em;padding:0;}

#atlas a { text-decoration: none; color: #444;}
#atlas a.active { color:#69ABD4 !important;}
