body {
    background: linear-gradient(45deg, rgba(102,153,204,0.3) 0%,rgba(0,0,0,.1) 33%, rgba(0,0,0,.1) 66%,rgba(102,153,204,0.3) 100%) !important;
}
div.wrap,
article.main,
#atlas {
  width: 100% !important;
  height: 100% !important;
}
article.main { padding: 0 !important;}
#atlas {
  margin: 0 auto;
  position: relative !important;
  /*font-family: "Raleway","Helvetica Nueue",Helvetica,Arial,sans-serif;*/
}
section.banner.angle-white { display:none !important;}
/*#panel {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -150px;
  z-index: 5;
  background-color: #fff;
  opacity: .9;
  padding: 5px;
  border: 1px solid #999;
}*/
/*#message {
  opacity: 0.99;
  position:absolute;
  top:100%;
  border: 1px solid #eee;
  background-color: #fff;
  padding: 1em 0 1em 0;
  text-align: center;
  margin:0;
  z-index: 1;
}*/


#atlas #treaties {
  /*border: 1px solid #ccc;*/
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*background-color: #fff;*/
  /*z-index: 1;*/
  position: absolute;
  padding-right: 0.5em;
  padding-left: 0;
  padding-bottom: 5px;
  top: 1em;
  left: 1em;
  /*opacity: 0.7;*/
  font-size:12pt;
  font-weight:100;
  width: 180px;
}

#atlas #description {
  border: 1px solid #ccc;
  /*background-color: #fff;*/
  background-color: rgba(255, 255, 255, 0.8);
  /*z-index: 1;*/
  display:block;
  margin-right: 10px;
  margin-left: 10px;
  position: absolute;
  padding: 0.5em;
  bottom: 0;
  /*top:0;*/
  /*left: 10px;*/
  opacity: 1;
  font-size:14pt;
  /*width: 98%;*/
  overflow-x:auto;
  overflow-y:scroll;
  max-height: 98%;
}
#atlas #description .title { font-weight: 400; color:#6699CC !important;}
#atlas #description .body { font-weight: 100;}
#atlas #description .social { position: absolute; top: 7px;right:5px;  }
#atlas #description .social div { display: inline-block; }
#atlas #description .social a { background-color: #509DCD; color: #fff; padding: 3px; font-weight: 300; font-size: 12pt; font-variant: small-caps; }
#atlas #description .social a:hover { background-color: #69ABD4; }
#atlas #description #export {height: 100%;}
#atlas #description #export #included {float:left;}
#atlas #description #export #excluded {float:right;}
#atlas .spacer {clear:both;}

#atlas #treaties { padding-left: 1em; font-weight: 400; font-size:12pt;padding-top: 10px;}
#atlas #treaties .treaty_nav { padding-bottom: 10px;}

#atlas a { text-decoration: none; color: #444; border:none;}
#atlas a.active, #atlas #treaties a.active { color:#69ABD4 !important; text-decoration: none; font-weight: 500; border:none; border-left:none;border-right:none;border-top:none;}
#atlas a:focus {outline:0;}

#atlas ul {list-style: none;}
#allas li {list-style: none;}

/* ========================= */
/*    ACCORDION   */
/* ========================= */
/*.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; border: 1px solid #ccc; border-top: none; border-left: none; }*/
#atlas .accordion { list-style-type: none; padding: 2px; margin: 5px; border-top: none; border-left: none; }
#atlas .accordion ul { list-style:none; padding: 0; margin: 0; float: left; display: block; width: 100%; }
/*.accordion li {  cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;}*/
/*.accordion li {  background-color:#eee; cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;}*/
#atlas .accordion li {  background-color:#eee; cursor: pointer; list-style: none; padding: 2px 0 2px 0; margin: 0; float: left; display: block; width: 100%;}
#atlas .accordion li.section { border-bottom:1px solid #ddd; }
/*.accordion li.active>a { background: url('close.gif') no-repeat center right; }*/
#atlas .accordion li div { padding: 20px;  display: block; clear: both; float: left;}
/*.accordion a { text-decoration: none; border-bottom: 1px solid #ddd; font-weight: bold; color: #222; padding: 0 10px; display: block; cursor: pointer; }*/

/* Level 2 */
#atlas .accordion li ul li { list-style: none;background-color:#fff; font-size: 0.9em; }
