body {
    /*background: linear-gradient(45deg, rgba(102,153,204,0.3) 0%,rgba(0,0,0,.1) 33%, rgba(0,0,0,.1) 66%,rgba(102,153,204,0.3) 100%) !important;
    background-size: 100% auto, cover*/
    background-color: #FAFAFA;
}
div.wrap,
article.main,
#atlas {
  width: 100% !important;
  height: 100% !important;
}
article.main { padding: 0 !important;}
#atlas {
  margin: 0 auto;
  position: relative !important;
}
/*section.banner.angle-white { display:none !important;}*/
section.content-wrapper div.wrap article.main header h2 { display:none !important;}

#atlas #treaties {
  /*border: 1px solid #ccc;*/
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*background-color: #fff;*/
  /*z-index: 1;*/
  position: absolute;
  padding-right: 0.5em;
  padding-left: 0;
  padding-bottom: 5px;
  top: 1em;
  left: 1em;
  /*opacity: 0.7;*/
  font-size:12pt;
  font-weight:100;
  width: 210px;
}

#atlas #description {
  border: 1px solid #ccc;
  /*background-color: #fff;*/
  background-color: rgba(255, 255, 255, 0.9);
  /*z-index: 1;*/
  display:block;
  margin-right: 10px;
  margin-left: 10px;
  position: absolute;
  padding: 0.5em;
  bottom: 0;
  /*top:0;*/
  /*left: 10px;*/
  opacity: 1;
  font-size:14pt;
  /*width: 98%;*/
  overflow-x:auto;
  overflow-y:scroll;
  max-height: 90%;
}
#atlas #description .title { font-weight: 400; color:#6699CC !important;}
#atlas #description .body { font-weight: 100; font-size: 0.8em;}
#atlas #description .disclaimer { font-weight: 100; font-size: 0.7em; color: #bbb; margin: 0.5em 0 0.5em 0;}
#atlas #description .social { position: absolute; top: 7px;right:5px;  }
#atlas #description .social div { display: inline-block; }
#atlas #description .social a { background-color: #509DCD; color: #fff; padding: 3px 7px 3px 7px; font-size: 12pt; font-variant: small-caps; }
#atlas #description .social a:hover { background-color: #69ABD4; }
#atlas #description .social #share_button { display:none; }
#atlas #description #export {height: 100%;}
#atlas #description #export #included {float:left;margin-left:1em;}
#atlas #description #export #excluded {float:right;margin-right: 1em;}
#atlas .spacer {clear:both;}

#atlas-modal {display:none;width: 300px;height:250px;background-color:#fff;border:1px solid #eee;opacity:0.9; border-radius: 4px; padding: 0 1em 0 1em;}
#atlas-modal #data { width: 100%;  opacity: 1; margin: 0 auto;}
.simplemodal-overlay {background-color: #000;}

#atlas #treaties { padding-left: 1em; font-weight: 400; font-size:12pt;padding-top: 10px;}
#atlas #treaties .treaty_nav { padding-bottom: 10px;}

#atlas a { text-decoration: none; color: #444; border:none;}
#atlas a.active, #atlas #treaties a.active { color:#69ABD4 !important; text-decoration: none; font-weight: bold; border:none; border-left:none;border-right:none;border-top:none;}
#atlas a:focus {outline:0;}

.main #atlas #treaties ul.accordion, .wysiwyg #atlas #treaties ul.accordion, #atlas #description #export ul {list-style-type: none;}
.main #atlas #treaties ul.accordion li, .wysiwyg #atlas #treaties ul.accordion li {list-style-type: none;}

.wysiwyg #atlas li:before { display:none !important; content:""; }

#atlas .debug {border: 1px solid red;}

/* ========================= */
/*    ACCORDION   */
/* ========================= */
/*.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; border: 1px solid #ccc; border-top: none; border-left: none; }*/
#atlas .accordion { list-style-type: none; padding: 0px; margin: 5px; border-top: none; border-left: none; font-weight: 100; font-size: 14pt; background-color: #fff;}
#atlas #treaties .accordion a { display:block; width:95%; border-bottom: 2px solid transparent;}
#atlas #treaties .accordion a:hover { border-bottom:2px solid #E09600; }
/*#atlas #treaties .accordion .section a { border-bottom: 2px solid #eee;}*/
/*#atlas #treaties .accordion a:hover { color: #E09600; }*/
/*#atlas #treaties .accordion a:hover { background-color: rgba(224,150,0,0.1); }*/
#atlas .accordion ul { list-style:none; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;background-color: #fff;}
/*.accordion li {  cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;}*/
/*.accordion li {  background-color:#eee; cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;}*/
#atlas .accordion li {  cursor: pointer; list-style:none; list-style-type: none; padding: 5px; margin: 0; float: left; display: block; width: 100%;}
#atlas .accordion li.section { border-bottom:1px solid #ccc; background-color: #eeeeee; }
/*.accordion li.active>a { background: url('close.gif') no-repeat center right; }*/
#atlas .accordion li div { padding: 20px;  display: block; clear: both; float: left;}
/*.accordion a { text-decoration: none; border-bottom: 1px solid #ddd; font-weight: bold; color: #222; padding: 0 10px; display: block; cursor: pointer; }*/

/* Level 2 */
#atlas .accordion li ul li { list-style: none; list-style-type: none; font-size: 0.9em; }
